* {
  margin: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: black;
}

.fondoRegistro {
  background-color: black;
}

.cardFormulario {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.card {
  border-radius: 10px;
  font-size: 20px;
}
.card-title {
  font-size: 5px;
  padding: 10px;
  text-align: center;
  top: 10px;
  color: black;
}
.card-imagenUniversidad {
  width: 50px;
  height: 50px;
}

.hey {
  position: absolute;
  top: 10px;
  font-size: 600px;
  left: 100px;
}

.hipervinculo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: none;
}

.boton {
  border: 0px;
  border-radius: 5px;
  background: black;
  color: white;
  padding: 10px;
  width: 355px;
}

h1 {
  color: #6b3a3a;
}

h2 {
  color: blueviolet;
}

@media only screen and (max-width: 500px) {
  h4 {
    font-size: 15px;
  }

  .card {
    width: 320;
    border-radius: 10px;
    font-size: 20px;
  }
  .card-title {
    font-size: 5px;
    padding: 10px;
    text-align: center;
    top: 10px;
    color: black;
  }
  .card-imagenUniversidad {
    width: 50px;
    height: 50px;
  }

  .boton {
    border: 0px;
    border-radius: 5px;
    background: black;
    color: white;
    padding: 5px;
    width: 285px;
  }
}

/*# sourceMappingURL=styleRegistro.css.map */
