/*MODAL CONSULTAR ESTUDIANTES*/
.backgroundModal{
    background-color: none; 
} 


.tabla{
    padding: 20px;
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #00000029;
    border-radius: 10px;
    opacity: 1;
}