*{
    margin: 0%;
    box-sizing: border-box;
}

.containerr{
    display: flex;
    flex-direction: row;
}

.izq{
    height: 100vh;
    width: 50vw;
    &-fondoLogin{
        &-imagen{
            height: 750px;
        } 
    }
} 
.der{ 
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 50vw;
    color: white;
    font-size: 20px;
    &-titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px; 
        color: rgb(255, 255, 255);
        text-align: center;
        
    }
    &-cardFormulario{
        display: flex; 
        justify-content: center;
        align-items: center;
    }
}

h1{
    text-align: center;
}

.boton{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 0px;
    width: 220px; 
    padding: 5px;
    &:hover{
        background: rgb(95, 94, 94);
        color: rgb(255, 255, 255);
    }
}

a{
    text-decoration-style: none;
}

.formlario{
    align-items: center;
}

.letra{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hipervinculo{
        display: flex;
        justify-content: center;
        align-items: center; 
    }


//RESPONSIVE PANTALLA MENOS A 800
@media only screen and (max-width: 800px) {
    body{
        overflow-y: scroll;
    }
    .izq{
        display: none;
    }
    
    .der{
        width: 100%;
        background-color: rgb(0, 0, 0);
        &-cardFormulario{
            height: 50vh;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
    }
} 


//RESPONSIVE PANTALLA MAYOR A 1920
@media only screen and (max-width:801) and (min-width: 1350px) {
    .izq{
        height: 100vh;
        width: 50vw;
        &-fondoLogin{
            &-imagen{
                height: 950px;
            } 
        }
    }
    
    .der{
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 100vh;
        width: 50vw;
        &-cardFormulario{
            height: 50vh;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
    }
} 

@media only screen and (max-width: 1920px) and (min-width: 1351px) {
    .izq{
        height: 100vh;
        width: 50vw;
        &-fondoLogin{
            &-imagen{
                height: 1150px;
            } 
        }
    }
    
    .der{
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 100vh;
        width: 50vw;
        &-cardFormulario{
            height: 50vh;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
    }
   }


