*{
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: rgb(0, 0, 0);
}
.fondoRegistro{
    background-color: black;
}


.cardFormulario{
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
 


.card{
    border-radius: 10px;
    font-size: 20px;
    &-title{
        font-size: 5px;
        padding: 10px;
        text-align: center;
        top: 10px;
        color: rgb(0, 0, 0);
    }

    &-imagenUniversidad{
        width: 50px;
        height: 50px;
    }
}

.hey{
    position: absolute;
    top: 10px;
    font-size: 600px;
    left: 100px;
}

.hipervinculo{
        display: flex;
        justify-content: center;
        align-items: center; 
        font-style: none;
}

.boton{
    border: 0px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 355px;
}


h1{
    color: rgb(107, 58, 58);
}  

h2{
    color: blueviolet;
}


//RESPONSIVE PANTALLA MENOS A 800
@media only screen and (max-width: 500px) {
    h4{
        font-size: 15px;
    }

    .card{
        width: 320;
        border-radius: 10px;
        font-size: 20px;
        &-title{
            font-size: 5px;
            padding: 10px;
            text-align: center;
            top: 10px;
            color: rgb(0, 0, 0);
        }
    
        &-imagenUniversidad{
            width: 50px;
            height: 50px;
        }
    }

    .boton{
        border: 0px;
        border-radius: 5px;
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 5px;
        width: 285px;
    }
    
} 
