* {
  margin: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

.containerr {
  display: flex;
  flex-direction: row;
}

.izq {
  height: 100vh;
  width: 50vw;
}
.izq-fondoLogin-imagen {
  height: 750px;
}

.der {
  background-color: black;
  height: 100vh;
  width: 50vw;
  color: white;
  font-size: 20px;
}
.der-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: white;
  text-align: center;
}
.der-cardFormulario {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.boton {
  background: black;
  color: white;
  border-radius: 5px;
  border: 0px;
  width: 220px;
  padding: 5px;
}
.boton:hover {
  background: #5f5e5e;
  color: white;
}

a {
  text-decoration-style: none;
}

.formlario {
  align-items: center;
}

.letra {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hipervinculo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  body {
    overflow-y: scroll;
  }

  .izq {
    display: none;
  }

  .der {
    width: 100%;
    background-color: black;
  }
  .der-cardFormulario {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 801) and (min-width: 1350px) {
  .izq {
    height: 100vh;
    width: 50vw;
  }
  .izq-fondoLogin-imagen {
    height: 950px;
  }

  .der {
    width: 100%;
    background-color: black;
    height: 100vh;
    width: 50vw;
  }
  .der-cardFormulario {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1351px) {
  .izq {
    height: 100vh;
    width: 50vw;
  }
  .izq-fondoLogin-imagen {
    height: 1150px;
  }

  .der {
    width: 100%;
    background-color: black;
    height: 100vh;
    width: 50vw;
  }
  .der-cardFormulario {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
