.cerrarSesion-logout {
  display: flex;
  justify-content: flex-end;
}

ul {
  padding-left: 50px;
}

li {
  color: red;
  font-size: 25px;
}

/*.navbar-bar{
    display: flex;
        justify-content: flex-end;
}*/
.barraNavegacion {
  display: flex;
  flex-direction: column;
  color: black !important;
  background-color: #ccdabf;
  position: relative;
}
.barraNavegacion-logout {
  position: absolute;
  right: 5px;
}

.fas {
  color: black;
}

a {
  color: black;
}
a :hover {
  background-color: red;
}

.nav-item {
  border-radius: 5px;
}
.nav-item :hover {
  background-color: rgba(255, 255, 255, 0.296);
}

/*# sourceMappingURL=stylesAdmin.css.map */
